WEATHER_DB_HOST=localhost
WEATHER_DB_PORT=5432
WEATHER_DB_NAME=Own_Weather
WEATHER_DB_USER=readonly_user
WEATHER_DB_PASSWORD=your_password_here
# Database timestamps are stored in GMT/UTC and are displayed as IST.
WEATHER_DB_TIMESTAMP_TZ=UTC
